<!DOCTYPE html>
<html>
    <head>
        <title></title>
        {% load staticfiles %}
        <link rel='stylesheet' type='text/css' href='{% static "tugowar/css/styles.css" %}'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src='{% static "tugowar/javascript/index.js" %}'></script>
    </head>
    <body>
        <div id='wrapper'>
            <div id='score-wrap'>
                <h3 class='player-score'>Player 1 Score</h3>
                <h3 class='player-score' id='player-2-score'>Player 2 Score</h3>
            </div>
            <div id='start-wrap'>
                <button id='start-game'>Start Game</button>
            </div>
            <div id='enter-players'>
                <h3>Enter your names!</h3>
                <form>
                    {{player1}}
                    {{player2}}
                </form>
                <button id='start-tug'>Tug It Hard!</button>
            </div>
            <div id='img-wrap'>
                <img class='center-pointer' src='{% static "tugowar/img/down.jpg" %}'>
                <img src='{% static "tugowar/img/tugowar.jpg" %}'>
                <img class='center-pointer' src='{% static "tugowar/img/up.jpg" %}'>
            </div>
        </div>
    </body>
</html>