*{
    margin: 0;
    border: 0;
}

html { 
 background: url(../img/hell.jpg) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#wrapper{
    width: 72em;
    margin: 0 auto;
}

#start-wrap{
    width: 5.2em;
    margin: 0 auto;
}

#enter-players{
    width: 11em;
    margin: 0 auto;
}

input{
    display: block;
    border: solid lightgrey 1px;
}

#score-wrap{
    margin: 0 0 15em 0;
}

.player-score{
    display: inline-block;
}

#one_score, #player2score{
    display: inline-block;
}

#player2score{
    float:right;
}

img{
    display: block;
}

#main-img{
    margin-left: 18em;
}

.center-pointer{
    margin: 0 auto;
}

#newgameonecss, #newgametwocss{
    width: 7em;
    height: 1.5em;
    background-color: lightgrey;
    text-align: center;
    border: solid 1px black;
    border-radius: 1em;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}